body{
  background-color: bisque;
  font-size: 16px;
}

h3 {
  text-align: center;
}

h1 {
  display: inline;
  margin: 20px;
}

a{
  
}

footer{
  white-space: pre-line;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  border: 2px solid black;
  padding-left: 5px;
}